<div class="post">
    <strong>
        <%= feed.author %>
    </strong><br />
    <span>
        <%= feed.content %>
    </span>

    <div class="comment-count">Comments (0)</div>

    <input type="text" class="comment-input" placeholder="Write a comment..." />
    <button class="add-comment">Add Comment</button>
    <div class="comments"></div>
</div>
<hr />