.add-friend-container {
    width: 400px;
    margin:0 auto;
padding: 20px;
background-color: #ffffff;
border: 1px solid #ddd;
border-radius: 5px;
}
.friends-list-container {
width: 400px;
margin:0 auto;
padding: 20px;
background-color: #ffffff;
border: 1px solid #ddd;
border-radius: 5px;
}
form {
display: flex;
gap: 8px;
align-items: center;
}
li {
display: flex;
align-items: center;
justify-content: space-between;
padding: 4px 0;
}

input {
width: 100%;
box-sizing: border-box;
padding: 10px;
/* m argin-top: 10px; */
/* m argin-bottom : 20px; */
border: 1px solid #ccc;
border-radius: 3px;
}

button {
padding: 10px 10px;
margin: 5px;
background-color: #3498db;
color: white;
border: none;
border-radius: 3px;
}