body {
    font-family: Arial, sans-serif;
    background-color: #ddecfb;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}