.login-container {
    width: 400px;
    margin: 0 auto; 
    padding: 20px; 
    background-color: #86a0b5;
    border: 2px solid #ddd;
    border-radius: 5px; 
}

input { 
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    border-radius: 3px; 
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white; border: none; 
    border-radius: 3px; 
}