form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #34d0db;
    border-radius: 5px;
    background-color: #ffffff;
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #34d0db;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #6529b9;
}
